body {
    background-color: #FFF3DA;
}
h3 {
    color: #BEADFA;
}

h1 {
    color: #BEADFA;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}